*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

p{
    font-size: 20px;
}

.titulo{
    text-align: center;
    margin: 5rem;
    font-size: 45px;
}

.flex{
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    flex: 1;
}

span{
    background-color: white;
    padding: 1.4rem;
    border-radius: 8px;
}

.grid{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 390px 390px;
    justify-content: center;
    margin-top: 3rem;
}

.info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    padding: 6rem 2rem;
    justify-content: center;
    justify-items: flex-end;
    text-align: end;
    gap: 20px;
}

.imagem{
    max-width: 500px;
}

.info h1, p{
    background-color: white;
}

a{
    background-color: #e21;
    color: white;
    border-radius: 6px;
    border: 0px;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 15px;
}

.vantagens{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.vantagensTexto{
    color: #c6c6c6;
    background-color: #f7f7f7;
    font-size: 64px;
}

.lista, img, h3, .header{
    background-color: white;
}

.lista{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: start;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 350px;
}